_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.DS_Store
Kepler11.png
assets/images/Nbody-Moores-Law.png
images/Kepler18_cd_size.JPG
images/Kepler18_orbits.jpeg
images/main_Latest_Nov_2.pdf
images/MassVsRadiusTTV.png
images/random_button.png
images/ttv_example.pdf
images/TTVCompute.png
images/Untitled2.png
mathematica/random_button.cdf
mathematica/TTVcomputeX.nb
mathematica/Untitled.cdf
mathematica/Untitled2.cdf
